<!doctype html>
<html ng-app="App" >
<head>
  <meta charset="utf-8">
  <title>Todos $http</title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="app.js"></script>
</head>
        <body ng-controller="WebCtrl">
          <ul>
              <li style="list-style: none">
                  <button ng-click="menu(0)">1</button>
                  <button ng-click="menu(1)">2</button>
                  <button ng-click="menu(2)">3</button>
                  <button ng-click="menu(3)">4</button>
              </li>
          </ul>

          <ul>
            <li style="list-style: none" ng-repeat="article in articles">
                {{article.text}}
            </li>
          </ul>
        </body>
</html>



