<!doctype html>
<html ng-app="App">
<head>
    <meta charset="utf-8">
    <title>Todos $http</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-controller="WebCtrl">
<ul>
    <li style="list-style: none">
        <button ng-repeat="a in start" ng-click="menu($index)" ng-bind="a.id"></button>
    </li>
</ul>

<ul>
    <li style="list-style: none" ng-repeat="article in articles" ng-bind="article.text">
    </li>
</ul>
</body>
</html>